{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}

    <div class="center">
		<div class="content">
			<div class="form">
				<div class="form-header center">
					<h3>{{ 'form.title'|trans }}</h3>
				</div>

                {{ form_start(form) }}
                <div class="inner">
                    <div class="form-row">
                        <div class="form-holder">
                            {{ form_row(form.date) }}
                        </div>
                    </div>
                </div>
                <div class="form-row center">
                    <div class="form-submit">
                        {{ form_row(form.save) }}
                    </div>
                </div>
                {{ form_end(form) }}

			</div>
		</div>
	</div>

    <!-- Currency table, displayed only if form is submitted -->
    {% include 'start/table.html.twig' %}

{% endblock %}